.HEAD-header {
    background-color:coral;
    color:whitesmoke;
    padding: 16px 20px;
    display: flex;
    gap: 12px 20px ;
    flex-wrap: wrap;
    align-items: center;
    font-size: calc(10px + 2vmin);
    box-shadow: 0 0 10px 0 lch(74.8% 81.07 75.13 / 0.822);
    height:205px;
}

.GM-Image {
    cursor:pointer;
}

.usr {
    text-align: right;
}